# Jetbrains & Dot Net Files

[Bb]in/
[Oo]bj/
build/
packages/
riderModule.iml
/_ReSharper.Caches/
contentModel.xml
**/*.user
.idea/**/workspace.xml
.idea/**/tasks.xml

# Fable & JS Files

.fable
.fsdocs
.config
.fake
bundle.json
bundle.json.map
main.js
node_modules/
project.lock.json
public/bundle.js*
publish/
temp*/
