# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.OrigamiEditor.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\twaters\Programs\origami-editor\.idea\.idea.OrigamiEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
